<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', path='css/styles.css') }}"
      rel="stylesheet"
    />
    <link rel="icon" href="{{ url_for('static', path='/images/icon.png') }}" />
    <title>Secure Linker</title>
  </head>
  <body>
    <div class="outer-container">
      <div class="grid-container">
        <div class="title-row">
          <h1 class="title">SecureLinker</h1>
        </div>
        <div class="form-container">
          <form class="form-container" method="post" action="/">
            <textarea
              class="input-box"
              name="content"
              placeholder="Introduce tu contraseña, texto o URL"
            ></textarea>
            <div class="sliders">
              <label>
                Nº de días de expiración <br />
                <input
                  type="range"
                  min="1"
                  max="15"
                  id="exp-days-range"
                  value="5"
                  name="days"
                  oninput="document.getElementById('exp-days-value').textContent = this.value;"
                />
                <span id="exp-days-value">5</span>
              </label>
              <label>
                Nº de visualizaciones <br />
                <input
                  type="range"
                  min="1"
                  max="15"
                  id="exp-visualizations-range"
                  value="3"
                  name="visualizations"
                  oninput="document.getElementById('exp-visualizations-value').textContent = this.value;"
                />
                <span id="exp-visualizations-value">3</span>
              </label>
            </div>
            <div class="button-container">
              <button class="generate-button" type="submit">
                Generar enlace
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
